src/main/app/ap_essentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="United_REST_Request_Configuration" host="ilt.mulesoft-training.com" port="80" basePath="/essentials/united/flights" doc:name="HTTP Request Configuration"/>
    <http:request-config name="Bank_REST_Request_Configuration" host="training.cloudhub.io" port="80" basePath="/build/banking/rest" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/apiplatform/repository/public/organizations/1203/apis/9565/versions/9867/files/root"/>
    </http:request-config>
    <flow name="getUnitedFlightFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/united" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="destination" value="#[(message.inboundProperties.'http.query.params'.code==empty) ? 'SFO':message.inboundProperties.'http.query.params'.code]" doc:name="Set Destination" doc:description="Takes a REST query parm &quot;code&quot; as the airport, but if none is provided it'll default to SFO flights only."/>
        <http:request config-ref="United_REST_Request_Configuration" path="/{destination}" method="GET" doc:name="United REST request">
            <http:request-builder>
                <http:uri-param paramName="destination" value="#[flowVars.destination]"/>
            </http:request-builder>
        </http:request>
        <logger message="test" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getBankAccountsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bank/{ID}" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="Bank_REST_Request_Configuration" path="/customers/{customer_id}/accounts" method="GET" doc:name="Bank REST Request">
            <http:request-builder>
                <http:uri-param paramName="customer_id" value="#[message.inboundProperties.'http.uri.params'.ID]"/>
            </http:request-builder>
        </http:request>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ap_essentialsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="#[&quot;hello maofukka&quot;.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Property"/>
        <set-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="qpcolor" value="#[message.inboundProperties.'http.query.params'.color]" doc:name="Session Variable"/>
        <logger message="#[&quot;Name: &quot; + message.outboundProperties.qpname + &quot;: &quot; + &quot;Type &quot; + flowVars.qptype + &quot;:&quot; + &quot;Color &quot; + sessionVars.qpcolor + &quot;:&quot; + payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
